# Binaries for programs and plugins
.idea
.terraform
*.exe
*.exe~
*.dll
*.so
*.dylib

/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
